@import "../../global.scss";

.contact {
  background-color: #183052;
  display: flex;
  // justify-content: center;

  @include mobile {
    flex-direction: column;
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 25px;

    h2 {
      font-size: 50px;
      padding: 20px 200px 90px;
      color: white;
    }

    form {
      width: 80%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      input {
        width: 600px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 600px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 170px;
        height: 50px;
        color: black;
        background-color: #edcc4b;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        font-size: $fontSizeText;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
        font-size: $fontSizeText;
      }
    }
  }
}
