$mainColor: #1e1d1d;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

$fontFamily: "Roboto", sans-serif;
$fontSizeTitle: 24px;
$fontSizeSubTitle: 20px;
$fontSizeText: 16px;


